.main-bg {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  background-color: #000;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 2281px;
  margin: 0 auto;
}

/* .navbar {
  display: flex;
  gap: 150px;
  position: absolute;
  top: 66px;
  left: 250px;
}

.nav-item {
  font-size: 30px;
}

.logo-small {
  position: absolute;
  width: 129.67px;
  height: 53px;
  top: 57px;
  left: 49px;
}

.logo-main {
  position: absolute;
  width: 587.17px;
  height: 240px;
  top: 295px;
  left: 428px;
} */

.subtitle {
  position: absolute;
  top: 535px;
  left: 458px;
  font-size: 30px;
}

.activity-box {
  position: absolute;
  width: 1272px;
  height: 627px;
  top: 711px;
  left: 84px;
  background: rgba(26, 25, 26, 0.8);
  border-radius: 20px;
}

.activity-title {
  font-size: 60px;
  text-align: center;
  margin-top: 67px;
}

.activity-list {
  margin-top: 100px;
  padding-left: 200px;
}

.activity-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 42px;
}

.check-icon {
  color: #03ff2e;
  font-size: 30px;
}

.activity-label {
  font-weight: 700;
  font-size: 40px;
  width: 300px;
}

.activity-desc {
  font-size: 30px;
}

.activity-photo {
  position: absolute;
  width: 974px;
  height: 573px;
  top: 1462px;
  left: 257px;
  border-radius: 20px;
}

.arrow {
  position: absolute;
  top: 1699px;
  font-size: 50px;
  color: #969696;
  cursor: pointer;
}

.left-arrow {
  left: 152px;
}

.right-arrow {
  left: 1287px;
}

.footer {
  position: absolute;
  top: 2159px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
