.main-bg {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
  background-color: #000;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 60px 20px;
  text-align: center;
}

/* 중앙 큰 로고 */
.logo-main {
  width: 600px;
  max-width: 90%;
  height: auto;
  margin: 80px auto 20px;
  display: block;
}

.subtitle {
  font-size: 28px;
  margin-bottom: 80px;
}

/* 활동 박스 */
.activity-box {
  width: 100%;
  background: rgba(26, 25, 26, 0.85);
  border-radius: 20px;
  padding: 50px 60px;   /* 안쪽 여백 줄임 */
  margin-bottom: 80px;
}

.activity-title {
  font-size: 54px;      /* 글자 크게 */
  margin-bottom: 50px;
}

.activity-list {
  display: flex;
  flex-direction: column;
  gap: 30px;           /* 줄 간격 줄임 */
  max-width: 1000;
  margin: 0 auto;
}

.activity-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.check-icon {
  color: #03ff2e;
  font-size: 28px;
}

.activity-label {
  font-weight: 700;
  font-size: 32px;
  width: 300px;
  text-align: left;
}

.activity-desc {
  font-size: 22px;
  text-align: left;
}

/* Carousel */
.activity-carousel {
  margin: 60px auto 100px;
  max-width: 974px;
}

.activity-photo {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

/* footer */
.footer {
  margin-top: 80px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #ccc;
}

/* Carousel 화살표 위치 조정 */
.activity-carousel .carousel-control-prev,
.activity-carousel .carousel-control-next {
  width: auto;
}

.activity-carousel .carousel-control-prev {
  left: -70px;
}

.activity-carousel .carousel-control-next {
  right: -70px;
}

/* 공통 아이콘 스타일 */
.activity-carousel .carousel-control-prev-icon,
.activity-carousel .carousel-control-next-icon {
  background-size: 35px 35px !important;  /* 강제 적용 */
  background-repeat: no-repeat;
  background-position: center;
}

